<h2>Lista de tareas</h2>

<app-form (anadirTareaHijo)="anadirTareaPadre($event)"></app-form>
<app-list-array [arrayTareasHijo]="arrayTareasPadre" (borrarTareaHijo)="borrarTareaPadre($event)" (editarTareaHijo)="editarTareaPadre($event)"></app-list-array>