<!--<p>Me llamo {{ name }} y me apellido {{ surname }}.</p>
<app-xyz></app-xyz>
<app-form></app-form>
<app-hello-world [name]="'Jose Luis'"></app-hello-world>
<app-hello-world [name]="'Sara'"></app-hello-world>
<app-boton [themeBtn]="'green'"></app-boton>
<app-boton [themeBtn]="'red'"></app-boton>
<br><br>
<h1>Lista de tareas</h1>
<app-ng-if (comprobarTextoHijo)="comprobarTextoPadre($event)"></app-ng-if>
<br><br><br><br><br><br><br><br>
<app-list-array [arrayTareasHijo]="arrayTareasPadre" (anadirTareaHijo)="anadirTareaPadre($event)" (borrarTareaHijo)="borrarTareaPadre($event)" (editarTareaHijo)="editarTareaPadre($event)"></app-list-array>
<app-todolist></app-todolist>-->
<app-gallery></app-gallery>