<div class="padre">
    <div *ngFor="let object of galleryListHijo let i = index">
      <img src="{{object.imgUrl}}">
      <h2>{{object.title}}</h2>
      <p>{{object.description}}</p>
      <button (click)="deleteObjectHijo.emit(i)">X</button>
    </div>
</div>