.b-btn-primary {
  background-color: green;
  border: 1px solid #333333;
  font-size: 16px;
  padding: 10px;
  color: #FFFFFF;
  cursor: pointer;
}

.b-btn-secondary {
  background-color: red;
  border: 1ps solid #8a5d5d;
  font-size: 16px;
  padding: 10px;
  color: #000000;
  cursor: pointer;
}