<form>
  <label for="name">Nombre: </label>
  <input type="text" name="name" id="name" [(ngModel)]="newObject.title"><br><br>

  <label for="description">Descripción: </label>
  <textarea type="text" name="description"  id="description" [(ngModel)]="newObject.description"></textarea><br><br>

  <label for="imgurl">Img: </label>
  <input type="url" name="url" id="imgurl" [(ngModel)]="newObject.imgUrl"><br><br>

  <button (click)="addObjectHijo.emit(newObject)">Añadir</button>
</form>